@keyframes navbar-fade-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-navbar-fade-in {
    animation: navbar-fade-in 0.5s ease-in-out forwards;
}
